.DS_Store
packrat/lib*/
packrat/src
.Rproj.user
*.RData
.Rhistory
data/sequences/gisaid_cov2020_sequences.fasta
data/time_series/CSSE
exploratory
msa
tree
epigenmcmc_results*
data/time_series/summary*
